@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@515&display=swap');

body {
	font-family: "Quicksand", sans-serif;

}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.jumbotron {
	font-size: 20px;
	text-align: center;
	background-color: #4D84C0;
	padding: 60px;
}

#games {
	color: 	red;
}

nav {
	background-color: white;
	padding: 16px;
}
nav ul li {
	display: inline;

}

nav ul li a{
	text-decoration: none;
	color: #4D84C0;
	margin-left: 30px;
}

nav ul li a:hover {
	color: red;
}

main {
	overflow: auto;
}

.content {
	width: 75%;
	float: left;
	padding:20px 20px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
	margin-bottom: 50px;
}

h2 {
	text-align: center;
	padding-bottom: 20px;
}

.game-card {
	width: 200px;
	height: 160px;
	padding: 20px 20px;
	transition: 0.5s;
}

p {
	text-align: justify;
	padding: 10px 10px;
}

.game h3, img{
	padding: 20px 10px;

}

.game img {
	width: 100%;

}

aside {
	float: right;
	width: 25%;
	padding-left: 10px;

}

.side {
	text-align: center;
	margin: 20px;
	padding: 20px;
}

@media screen and (max-width: 1000px) {
    .content,
    aside {
        width: 100%;
        padding: 0;
    }

    img {
    flex-basis: 30%;
     width: 100%;
     padding: 10px;
     margin: 20px;
     display: block;
    margin-left: auto;
    margin-right: auto;
}



input[type=text] {
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.image-profile {
	border-radius: 50%;
	width: 10px;
}

